---
layout: base
---

<div id="archive">
  {% for post in site.posts %}
    {% unless post.next %}
      <h2>{{ post.date | date: '%B %Y' }}</h2>
      <ul>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture month %}{{ post.date | date: '%m' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% capture nmonth %}{{ post.next.date | date: '%m' }}{% endcapture %}
      {% if month != nmonth && year != nyear  %}
        </ul>
        
        <h2>{{ post.date | date: '%B %Y' }}</h2>
        <ul>
      {% endif %}
    {% endunless %}
    
    <li>
      <span class="date">{{ post.date | date: "%d.%m.%Y" }}</span>: <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    
    {% unless post.previous %}
      </ul>
    {% endunless %}
  {% endfor %}
</div>
