html, body {
	background-color: #fff;
}

html, body {
    font-family: Georgia, "Times New Roman", serif;
}

#container {
	width: 800px;
	margin: 40px auto;
}

#header {
	font-family: Neuton, Georgia, serif;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 40px;
}

#header a {
	text-decoration: none;
}

#header strong {
	font-weight: 400;
	font-size: 50px;
	color: #000;
}

#header em {
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
	color: #666;
}

#footer {
	text-align: center;
	font-size: 14px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	color: #666;
	margin-top: 40px;
}

a, a:visited {
	color: #196cb1;
	-webkit-transition: color 0.3s ease-in-out 0s;
}

a:hover, a:active {
	color: #4797d9;
}