#post {
	font-size: 16px;
}

#post p {
	margin: 20px 0;
	line-height: 25px;
}

#post h1, #post h2, #post h3 {
	font-family: Neuton, Georgia, serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

#post header {
	display: block;
	height: 35px;
}

#post header h1 {
	float: left;
	font-size: 30px;
	line-height: 35px;
}

#post header .date {
	color: #666;
	float: right;
	line-height: 35px;
	font-size: 16px;
}

#post h2 {
	font-size: 25px;
	margin-top: 40px;
}

#post code {
	font-family: Menlo, monospace;
	font-size: 14px;
	background-color: #e5e5e5;
}

#post ul, #post ol {
	margin: 20px 0 20px 20px;
	line-height: 25px;
}

#post ul li {
    list-style-type: square;
    list-style-position: inside;
}

#post ol li {
	list-style-type: decimal;
	list-style-position: inside;
}

#post img {
	border: 2px solid #ccc;
	display: block;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 0px 0px 10px #ccc;
	max-width: 776px;
	background-color: #fff;
}
