@import url("reset.css");
@import url("http://fonts.googleapis.com/css?family=Neuton:400,400italic");


/* General */
html, body {
	background-color: #fff;
}

html, body {
    font-family: Georgia, "Times New Roman", serif;
}

#container {
	width: 800px;
	margin: 20px auto;
}

#container header {
	font-family: Neuton, Georgia, serif;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#container header a {
	text-decoration: none;
}

#container header strong {
	font-weight: 400;
	font-size: 50px;
	color: #000;
}

#container header em {
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
	color: #666;
}

#container footer {
	text-align: center;
	font-size: 14px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	color: #666;
}

#container a, #contenta:visited {
	color: #196cb1;
	-webkit-transition: color 0.3s ease-in-out 0s;
}

#container a:hover, #content a:active {
	color: #4797d9;
}


/* Content */
#content {
	font-size: 16px;
}

#content p {
	margin: 20px 0;
	line-height: 25px;
}

#content h1, #content h2, #content h3 {
	font-family: Neuton, Georgia, serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

#content h1 {
	font-size: 30px;
}

#content h2 {
	font-size: 25px;
	margin-top: 40px;
}

#content code {
	font-family: Menlo, monospace;
	font-size: 14px;
	background-color: #e5e5e5;
}

#content ul, #content ol {
	margin: 20px 0 20px 20px;
	line-height: 25px;
}

#content ul li {
    list-style-type: square;
    list-style-position: inside;
}

#content ol li {
	list-style-type: decimal;
	list-style-position: inside;
}

#content img {
	border: 2px solid #ccc;
	display: block;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 0px 0px 10px #ccc;
	max-width: 776px;
}