<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <title>The Bay{% if page.title %}: {{ page.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml">
  </head>

  <body>
    <div id="container">
      <header id="header">
        <a href="/">
          <strong>The Bay</strong><br />
          <em>Leben &amp; Arbeiten in San Francisco</em>
        </a>
      </header>
      
      {{ content }}
      
      <footer id="footer">
        &copy; 2012 <a href="http://matthiasplappert.com">Matthias Plappert</a>
      </footer>
    </div>
    
    <!-- Gaug.es -->
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '506872b4f5a1f53704000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
